.portfolio
	background: $secondary url('../img/portfolio/portfolio-pattern.jpg') repeat-y center left
	background-size: 50%
	&__title
		max-width: 787px
		line-height: 45px
		margin: auto
		margin-top: 31px
		margin-bottom: 99px
	&__arrows
		max-width: 120px
		margin: auto
		margin-top: 63px
		margin-bottom: 25px
		display: flex
		justify-content: space-between
.slider
	&__image
		margin: auto

@media (max-width: 768px)
	.portfolio
		&__title
			max-width: 280px
			margin-top: 21px
			margin-left: 0
			margin-bottom: 41px
			font-size: 18px
			line-height: 1.2
		&__arrows
			margin-top: 45px
			margin-right: 90px
	.slider
		&__image
			max-width: 85%

